.background-video{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100
}
//Animation for background
.background-video{
  animation-duration: 3s;
  animation-name: slowlyStart;
}
@keyframes slowlyStart {
  from {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  75% {
    opacity: 50%;
  }
  to {
    opacity: 100%;
  }
}


h5{
  font-size: 25px;
  color: #FBD102;
}
h1{
  font-size: 100px;
  color: #FBD102;
}


//Style of schedule time
ion-grid{
  text-align: center;
}
ion-col{
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  border: 1px solid black;
  opacity: 0;
}
//Propeties of animations
ion-col{
  animation-duration: 2s;
  animation-name: startCol;
  animation-direction: reverse;
  //This do persistent the animation
  animation-fill-mode: forwards;
}
//The animation is aply with delay between cols
#col-0{animation-delay: 0.30s;}
#col-1{animation-delay: 0.60s;}
#col-2{animation-delay: 0.90s;}
#col-3{animation-delay: 1.20s;}
#col-4{animation-delay: 1.50s;}
#col-5{animation-delay: 1.80s;}
#col-6{animation-delay: 2.10s;}
@keyframes startCol{
  from{
    opacity: 60%;
  }
  to{
    opacity: 0%;
  }
}


span{
  width: 100%;
}
.dayText{
  font-size: 20px;
  color: black;
}
.maxMinValue{
  font-size: 15px;
  color: black;
}
.maxMinText{
  color: black;
}

//Background ion-content transparent
ion-content , ion-toolbar { --background: transparent;}
