<!-- Header without a border -->
<ion-header class="ion-no-border"  mode="ios">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button (click)="closeModal()" defaultHref="/" text="" color="warning"></ion-back-button>
    </ion-buttons>

    <ion-title>{{weather.data[0].city_name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">

  <!--Background view style for transparent-->
  <video *ngIf="weather.data[0].weather.description == 'Few clouds'" class="background-video" loop="loop" autoplay="autoplay" width="100%">
    <source src="../../../assets/backgrounds/Few clouds.mp4" type="video/mp4">
  </video>
  <video *ngIf="weather.data[0].weather.description == 'Clear sky'" class="background-video" loop="loop" autoplay="autoplay" width="100%">
    <source src="../../../assets/backgrounds/Clear sky.mp4" type="video/mp4">
  </video>
  <video *ngIf="weather.data[0].weather.description == 'Light rain'" class="background-video" loop="loop" autoplay="autoplay" width="100%">
    <source src="../../../assets/backgrounds/Light rain.mp4" type="video/mp4">
  </video>
  <video *ngIf="weather.data[0].weather.description == 'Overcast clouds'" class="background-video" loop="loop" autoplay="autoplay" width="100%">
    <source src="../../../assets/backgrounds/Overcast clouds.mp4" type="video/mp4">
  </video>


  <ion-progress-bar type="indeterminate" color="primary" *ngIf="showLoader"></ion-progress-bar>

  <h6>At this moment:</h6>
  <h5>{{weather.data[0].weather.description}}</h5>
  <h1>{{weather.data[0].temp}} °C</h1>



  <ion-grid>
    <ion-row>

      <ion-col size="2" *ngFor="let day of weekWeather.data.slice(0,6) ; let i = index" id="col-{{i}}">
        <span class="dayText">{{week[i]}}</span><br>
        <!--Are there icons for weather into assests-->
        <img src="../../assets/icon/{{day.weather.description}}.gif" alt="">
        <hr>
        <span class="maxMinText">max</span><br>
        <span class="maxMinValue">{{day.max_temp}} °C</span><br>
        <hr>
        <span class="maxMinText">min</span><br>
        <span class="maxMinValue">{{day.min_temp}} °C</span><br>
      </ion-col>

    </ion-row>
  </ion-grid>




  <!-- fab placed in the center of the content with a list on each side -->
    <ion-fab vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button color="warning">
        <ion-icon name="share-social-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button><ion-icon name="logo-instagram" (click)="shareInstagram()"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <ion-fab-button><ion-icon name="logo-facebook" (click)="shareFacebook()"></ion-icon></ion-fab-button>
      </ion-fab-list>
      <!--Share on whatsapp-->
      <ion-fab-list side="start">
        <ion-fab-button><ion-icon name="logo-whatsapp" (click)="shareWhatsapp()"></ion-icon></ion-fab-button>
      </ion-fab-list>
    </ion-fab>


</ion-content>


<ion-footer mode="ios">




</ion-footer>
