.background-video{
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100
}
//Animation for background
.background-video{
  animation-duration: 3s;
  animation-name: slowlyStart;
}
@keyframes slowlyStart {
  from {
    opacity: 0%;
  }
  25% {
    opacity: 0%;
  }
  75% {
    opacity: 50%;
  }
  to {
    opacity: 100%;
  }
}


h5{
  font-size: 25px;
  color: yellow;
}
h1{
  font-size: 100px;
  color: yellow;
}


//Style of schedule time
ion-grid{
  text-align: center;
}

ion-col{
  background: rgba(255,255,255,0.3);
  border-radius: 5px;
  border: 1px solid black;
}

span{
  width: 100%;
}
.dayText{
  font-size: 20px;
}
.maxMinValue{
  font-size: 15px;
}
.maxMinText{
}

/*Add borders to texts (shadows)
h5 , h1{
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
*/

//Background ion-content transparent
ion-content , ion-toolbar { --background: transparent;}
