<ion-header>
  <ion-toolbar>
    <ion-title>WeatherCities App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!--Searchbar-->
  <ion-searchbar placeholder="Search a City" inputmode="decimal" type="decimal" 
                 (ionChange)="onSearchChange($event)" [debounce]="250" 
                 showCancelButton="always">
  </ion-searchbar>


  <ion-list>
    <!--Recorremos el arreglo pero filtrando a travez de una pipe-->
    <!--filterSearch es el nombre de la pipe-->
    <!--Al filtro le enviamos la variable de busqueda del search en este caso $busqueda-->
    <!--La $propiedad es la propiedad json por donde se debe buscar-->
    <ion-item *ngFor="let place of places  | filterSearch:search:'city_name' ">
  
      <!--Icono-->
      <!--Nombre del usuario-->
      <ion-label (click)="showModal(place.city_name)">{{place.city_name}}</ion-label>
  
    </ion-item>
  </ion-list>


</ion-content>
